body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(f2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 360px;
    width: 400px;
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(3px); /* Blurs the background */
    -webkit-backdrop-filter: blur(6px); /* Safari support */
    box-shadow:0px 8px 15px rgba(14, 13, 13, 0.3);
    background: rgba(0, 0, 0, 0.5);
}


#form{
    background-color: #606c38;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 15px;
    font-size: 15px;
    position: relative;
    left: 23px;
    cursor: pointer;
}



#first{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
}
#second{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 70px;
    position: relative;
    bottom: 25px;
 
    
}
#form2{
    background-color: #606c38;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 15px;
    font-size: 15px;
    position: relative;
    left: 23px;
    bottom: 25px;
    cursor: pointer;
}
#cal{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    width: 150px;
    position: relative;
    left: 50px;
    top: 15px;
    cursor: pointer;
}
#reset{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    font-size: 15px;
    position: relative;
    left: 40px;
    top: 15px;
    cursor: pointer;
}
button:hover{
    background-color: #606c38;
}



h1{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    color: #0e0c0c;
    position: relative;
    top: 20px;
    color: white;  /* Choose the base color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px hwb(0 100% 0% / 0.8), 0 0 30px rgba(0, 255, 255, 0.8);
    transition: text-shadow 0.5s ease-in-out 0.5s ease-in-out;
}
h1:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1), 0 0 40px rgba(0, 255, 255, 1);
}
#isnan{
    position: relative;
    bottom: 156px;
    left: 195px;
    color: maroon;
    font-size: medium;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    right: 350px;
    bottom: 200px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    transition: transform 0.8s ease-in-out, box-shadow 0.9s ease-in-out; 
}
img:hover{
    transform: rotate(360deg);  /* Full 360-degree rotation */

}